{% extends "base.html"%}
{% load static %}

{% block title %} {{ publication.title }} {% endblock %}



{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block main %}


<div class="container">
    <h3 style="text-align:center;">{{ publication.title }}</h3><div class="category">{{ publication.category }}</div>
    {% if publication.author.user == user %}
    <a style="margin-bottom:15px;" class="btn btn-info" href="{% url 'edit_publi' publication.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg></a>
{% endif  %}
    <div class="container c2">
        <p>{{ publication.bio|safe }}</p>
        {% if publication.photo %}
            <a href="{{ publication.photo.url}}">Anexo</a>
        {% endif %}
    </div>
    
    <div class="container">
        <div class="d-flex justify-content-right">
            <form method="post" action="{% url 'detail_publi' publication.id %}" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form }}
                <button style="margin-top:15px;" class="btn btn-success"type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" margin-right="15p" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>Comentar</button>
            </form>
        </div>
        <hr class="lineSepare" >
        {% for c in last_comments %}
        <div class="col-md-3 text-end">
            <div class="user" style="background-image:url('{{c.author.profile_photo.url}}')"></div>
            <p style="" ><strong  >@{{ c.author.user }}</strong> {{ c.author.description }}| {{  c.date }}</p>
        </div>
        <div class="c4">
            <p class="comentario" >{{ c.text}}</p>
        </div>
        {% endfor %}
       <div class="pagination">
        <span class="step-links">
            {% if pagination.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ pagination.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.
            </span>
    
            {% if pagination.has_next %}
                <a href="?page={{ pagination.next_page_number }}">next</a>
                <a href="?page={{ pagination.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    </div>
</div>


 
{% endblock %}