
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="{% url 'homepage' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Cerberus Forum</span>
    </a>

    <ul class="nav nav-pills">
      <li><a href="{% url 'homepage' %}" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="{% url 'category_list' %}" class="nav-link px-2 link-dark">Categorias</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Equipe</a></li>
    </ul>

    {% if not user.is_authenticated  %}
    <div class="col-md-3 text-end">
      <a href="{% url 'login' %}" class="btn btn-outline-success me-2">Login</a>
      <a href="{% url 'register' %}" class="btn btn-success">Registra-se</a>
    </div>
  {% else %}
  <div class="col-md-3 text-end">
    
    {% if user.author.prfile_photo %}
    <div class="container">
      {{ user.username }} | 
      <a>
        <div class="user" style=" background-image:url('{{ user.author.prfile_photo.url }}')"></div>
      </a>
      <a class="btn btn-danger"href="{% url 'logout' %}" >Sair</a>
    </div>
    
    {% else %}
    <div class="user" style="background-image:url('')"></div>
    {% endif %}
  </div>
  {% endif  %}
  </header>
</div>